
/*Header Font is from Google fonts and is Caladea*/
body{
	background-color:#31535E;
	border: 10px solid #bdc3c7;
	padding: 10px;
	/*max-width: 1600px;*/
	margin: auto; 
}

header{
	width:40%;
	margin: 0 auto;
    font-family: Caladea;
    text-align: center; 
    white-space: nowrap;
}

h1 {
	color: #F58F0A; 
	text-decoration: underline;
	/*display: inline-block;*/	
	text-align: center; 
	white-space: nowrap;
} 

nav ul{
	padding:0;
	max-width: 60%;
	width: 80%;
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	margin:auto;
}

nav li{
	display:inline-block;
	background: #316D92;
	padding: 10px;
	border: 10px;
	margin: auto;
}

img {
	/*border: 5px solid #bdc3c7;*/
	padding: 5px;
	width: 30%;
	margin: 1.66%;
}
h2{
	color: #F58F0A;
	text-decoration: underline;
}

p{
	color: #F2A744;
}
/*#F58F0A*/
li {
	color: #F2A744;
}
/*Green - rgb(96, 188, 119)*/

/*Slate - #31535E*/


/*New idea of keeping mismatched size pics in line found at https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
 /* padding: 5px;*/
  margin: 1.66%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*img{
	width:30%;
	float: left; 
	margin:1.66%;
}*/

/*footer{
	float: bottom
}*/